<div class="dilog">
    <div class="model-header">
        <p class="new-project">New Project</p>
        <mat-icon mat-dialog-close>close</mat-icon>
    </div>
    <form [formGroup]="addProjectForm" (ngSubmit)="addProject()">
        <div class="model-content">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name">
            <label for="technologies">Technologies</label>
            <input type="text" id="technologies" formControlName="technologies">
            <label for="date">Start date</label>
            <input type="date" id="date" formControlName="date">
            <label for="employee">Employees</label>
            <input type="text" id="employee" formControlName="employee">
        </div>
        <div mat-dialog-actions class="save-cancel-button ">
            <button mat-raised-button mat-dialog-close class="cancel-button" style="background-color: #D2D3DD ;
            font-family: Inter Bold;
            width: 80px ;
            height: 35px;
            text-align: center;">Cancel</button>
            <button mat-raised-button mat-dialog-close class="save-button" style="background-color: #9BA3ED ;
        font-family: Inter Bold;
        width: 80px ;
        height: 35px;
        text-align: center;" type="submit" [disabled]="addProjectForm.invalid">Save</button>
        </div>
    </form>
</div>