<div class="dilog">
    <div class="model-header">
        <p class="new-emp">New employee</p>
        <mat-icon mat-dialog-close>close</mat-icon>
    </div>
    <div class="model-content">
        <label for="name">Name</label>
        <input type="text">
        <label for="name">Technologies</label>
        <input type="text">
        <label for="startdate">Start date</label>
        <input type="text">
        <label for="employee">Empoyees</label>
        <input type="text">
    </div>
    <div mat-dialog-actions class="yes-no-button">
        <button mat-button mat-dialog-close class="no-button">No</button>
        <button mat-button mat-dialog-close cdkFocusInitial class="yes-button">Yes</button>
    </div>
</div>