.model-header {
  display: flex;
  width: 450px;
  border: 1px solid red;
  justify-content: space-between;
  align-items: center;
}
.new-emp {
  font-family: Inter Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;

  color: #000000;
}
.model-content {
  display: flex;
  flex-direction: column;
}
.yes-no-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

.no-button,
.yes-button {
  padding: 8px 47px;
  /* height: 5.09%;
    width: 8.83%; */
  border-radius: 2px;
  border: none;
  color: #000000;
  font-family: Roboto Regular;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
}
.yes-button {
  background-color: #f76b1c;
}

.dilog {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
