.project-container {
  border: 1px solid maroon;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.add-project-container {
  width: 50%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 40px;
}
.all-project-text {
  font-family: Inter Medium;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  color: #000000;
  margin-top: 7%;
}
.search-input {
  width: 35%;
  height: 40px;
  background: #ffffff;
  outline: none;
  border: 1px solid #474242;
  margin-top: 3%;
  margin-bottom: 50px;
  font-family: Inter Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
}
::placeholder {
  color: #cdbebe;
  font-family: Inter Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
}
.project-list-container {
  height: 50px;
  width: 35%;
  display: flex;
  padding-left: 10px;
  border: 1px solid #5e66ad;
}
.project-list-content {
  font-family: Inter Medium;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 15px;
}
.project-details-container {
  width: 50%;
  border: 1px solid blue;
  padding-right: 30px;
  padding-left: 40px;
  padding-top: 60px;
}
.label-text {
  font-family: Inter Bold;
  font-weight: 900;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
  margin-top: 5%;
}
.content-text {
  font-family: Inter Regular;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
}
table,
th,
td {
  border-collapse: collapse;
}
.project-table {
  height: 300px;
  width: 400px;

}
.project-table-body {
  height: 200px;
}
.table-data {
  padding-left: 30px;
  font-family: Inter Medium;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
}

.project-row {
  border: 2px solid #5e66ad;
}
a{
  text-decoration: none;
}