<app-navbar></app-navbar>
<div class="project-container">
    <div class="add-project-container">
        <p class="all-project-text">All Projects</p>
        <button mat-raised-button style="background-color: #9BA3ED ;
             font-family: Inter Bold;
             text-align: center;
             width: 90px ;
             height: 35px ;
            font-weight: 600;
            font-size: 17px;
            margin-top: 3%; " (click)="openDialog()">Add</button>
        <input type="text" placeholder="Search" class="search-input">
        <!-- <div class="project-list-container" *ngFor="let project of projectList">
            <p class="project-list-content">{{project}}</p>
        </div> -->
        <table class="project-table">
            <tbody class="project-table-body">
                <tr *ngFor="let list of projectList" class="project-row">
                    <td class="table-data">{{list.projectname}} </td>
                    <td class="table-data">{{list.projectStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="project-details-container">
        <p class="label-text">Name: <span class="content-text">Employee 1</span></p>
        <div class="label-text ">Status:

            <span class="content-text">In progress</span>
            <button mat-raised-button style="background-color: #9BA3ED ;
                 font-family: Inter Bold;
                 text-align: center;
                width: 90px ;
                 height: 35px ;
                font-weight: 600;
                font-size: 17px;
                 margin-left: 30px; ">Close</button>

            <p class="label-text">Joining date: <span class="content-text">12/11/22</span></p>
            <p class="label-text">Tecnologies: <span class="content-text">Angular, ReactJs,
                    NodeJs</span></p>
            <p class="label-text">Developers: <span class="content-text"><a routerLink="/employee">Employee 1</a></span></p>
        </div>
    </div>